env:
#  RUBY_VERSION: 3.0.2
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DATABASE_USER: postgres
  DATABASE_PASSWORD: 	postgres

name: Rails tests
on:
  push:
    branches:
      - main
      - dev

jobs:
  rspec-test:
    name: RSpec
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        ports:
        - 5432:5432
        env:
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - name: Install postgres client
        run: sudo apt-get install libpq-dev
      - name: Install dependencies
        run: |
          gem install bundler
          bundler install
      - name: Create database
        run: |
          bundler exec rails db:create RAILS_ENV=test
          bundler exec rails db:migrate RAILS_ENV=test
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install
      - name: Run tests
        run: bundler exec rspec .


  # simplecov-test:
  #   name: SimpleCov
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: ${{ env.RUBY_VERSION }}
  #         bundler-cache: true
    # - name: Download all workflow run artifacts
    #   uses: actions/download-artifact@v2
    #   if: always()
