name: Test

on:
  push:
    branches:
      - dev
      - test
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis
        ports: ['6379:6379']
        options: --entrypoint redis-server

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
#       ruby-version: ${{ env.RUBY_VERSION }}
        ruby-version: 3.1.2
        bundler-cache: true
    - uses: borales/actions-yarn@v3.0.0
      with:
        cmd: install
    - name: Install PostgreSQL client
      run: |
        sudo apt-get -yqq install libpq-dev
        gem install bundler
        bundle install --jobs 4 --retry 3

    - name: Setup DB
      env:
        REDIS_URL: redis://localhost:6379/0
        PGHOST: localhost
        PGUSER: postgres
        PGPASSWORD: postgres
        RAILS_ENV: test
      run: |
        bundle exec rails db:setup RAILS_ENV=test
        bundle exec rake db:migrate RAILS_ENV=test

    - name: Run Tests
      env:
        PGHOST: localhost
        PGUSER: postgres
        PGPASSWORD: postgres
        RAILS_ENV: test
      run: |
        bundle exec rake webpacker:compile
        bundler exec rspec


  # rubocop-test:
  #   name: Rubocop
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: ruby/setup-ruby@v1
  #       with:
  #         #ruby-version: ${{ env.RUBY_VERSION }}
  #         ruby-version: 3.1.2
  #         bundler-cache: true
  #     - name: Install Rubocop & Check code
  #       run: |
  #         gem install rubocop
  #         rubocop
  #
  # simplecov-test:
  #   name: SimpleCov
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: 3.1.2
  #         bundler-cache: true
  #     - name: Download all workflow run artifacts
  #       uses: actions/download-artifact@v2
  #       if: always()
